body{
  color: #696969;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.content{
  width: 80%;
  display: inline-block;
  font-size: 18px;
}

p{
  /*margin: 6px;*/
}

a{
  text-decoration: none;
  color: grey;
}
